* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 80px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  min-height: 9999px;
  color: white;
  padding-top: 70px;
} /* Navbar */
nav {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between; /* brand kiri, menu kanan */
  align-items: center;
  padding: 0.8rem 2rem; /* atas-bawah, kiri-kanan */
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  font-family: "Poppins";
  margin-left: 2rem;
  color: rgb(255, 255, 255);
}
.navbar-brand span {
  color: yellow;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem; /* jarak antar item */
  margin-right: 6rem;
}
.navbar-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.2s;
}
.navbar-menu li a:hover {
  color: yellow;
}
.burger-icon {
  display: none;
  align-items: center;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.hero h1 span {
  color: yellow;
  font-style: italic;
}
.hero p {
  position: absolute;
  z-index: 999;
  top: 55%;
  left: 48%;
} /* Wali Kelas */
.wali {
  margin-top: 100px;
  text-align: center;
}
.wali img {
  margin-top: 30px;
  border-radius: 50%;
  width: 300px;
  border-style: solid;
}
.wali h3 {
  margin-top: 10px;
}
.wali span {
  color: yellow;
} /* Anggota kelas */
.siswa {
  margin-top: 100px;
  text-align: center;
}
.siswa .image-card {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.siswa .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.siswa img {
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 200px;
  border: solid;
  transition: transform 0.3s ease;
}
.siswa img:hover {
  transform: scale(1.1);
}
.siswa span {
  color: yellow;
} /* Moment */
.moment {
  margin-top: 100px;
  text-align: center;
}
.moment .moment-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin-top: 120px;
}
.moment-card img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.moment .moment-card h3 {
  margin-top: 30px;
}
.moment .moment-card p {
  margin-top: 10px;
}
.moment-card img:hover {
  transform: scale(1.05);
}

.burger-icon {
  display: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%; /* sembunyi dulu */
    width: 40%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
    gap: 2rem;
    transition: right 0.4s ease;
    margin-right: 0;
  }

  .navbar-menu.active {
    right: 0; /* muncul dari kanan */
  }

  .burger-icon {
    display: flex; /* muncul di layar kecil */
  }

  /* biar brand gak kejepit */
  .navbar-brand {
    margin-left: 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .siswa .image-card {
    gap: 2rem;
  }

  .siswa img {
    width: 150px;
  }

  .moment-card img {
    max-width: 300px;
  }
}
